{% extends 'accounts/main.html'%}
  {% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/menu.css'%}">
  <h1>Menu</h1>  
  <h2 class="mt-4">Starters</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    
    {% for dish in object_list %}
      {% if dish.tag == "Starter" %}
          <div class="col">
            <div class="card">
              <img src="{{dish.imageURL}}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{dish.name}}</h5>
                <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
                <a data-dish={{dish.id}} data-action="add" href="#" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
                <div class="overlay">
                  <h5 class="ct">{{dish.name}}</h5>
                  <p class="card-text">{{dish.description}}</p>
                  <br/>
                  <hr>
                  <span class="price">NT$ {{dish.price}}</span>
                </div>
              </div>
            </div>
          </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="mt-5">Pizza</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4">

    {% for dish in object_list %}
      {% if dish.tag == "Pizza" %}
        <div class="col">
          <div class="card">
            <img src="{{dish.imageURL}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{dish.name}}</h5>
              <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
              <a data-dish={{dish.id}} data-action="add" href="#" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
              <div class="overlay">
                <h5 class="ct">{{dish.name}}</h5>
                <p class="card-text">{{dish.description}}</p>
                <br/>
                <hr>
                <span class="price">NT$ {{dish.price}}</span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="mt-5">Pasta</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for dish in object_list %}
      {% if dish.tag == "Pasta" %}
        <div class="col">
          <div class="card">
            <img src="{{dish.imageURL}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{dish.name}}</h5>
              <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
              <a data-dish={{dish.id}} data-action="add" href="#" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
              <div class="overlay">
                <h5 class="ct">{{dish.name}}</h5>
                <p class="card-text">{{dish.description}}</p>
                <br/>
                <hr>
                <span class="price">NT$ {{dish.price}}</span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="mt-5">Risotto</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for dish in object_list %}
      {% if dish.tag == "Risotto" %}
        <div class="col">
          <div class="card">
            <img src="{{dish.imageURL}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{dish.name}}</h5>
              <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
              <a data-dish={{dish.id}} data-action="add" href="{% url 'add_to_cart' dish.id %}" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
              <div class="overlay">
                <h5 class="ct">{{dish.name}}</h5>
                <p class="card-text">{{dish.description}}</p>
                <br/>
                <hr>
                <span class="price">NT$ {{dish.price}}</span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="mt-5">Others</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4  mb-5">
    {% for dish in object_list %}
      {% if dish.tag == "Others" %}
        <div class="col">
          <div class="card">
            <img src="{{dish.imageURL}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{dish.name}}</h5>
              <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
              <a data-dish={{dish.id}} data-action="add" href="{% url 'add_to_cart' dish.id %}" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
              <div class="overlay">
                <h5 class="ct">{{dish.name}}</h5>
                <!-- <p>Quantity</p>
                <div class="btn-group">
                  <input id="minus" onclick='decrement("{{dish.id}}")' value="-">
                  <input id=demoInput{{dish.id}} class="demoInput" type=number min=0 max=10 value="1">
                  <input id="plus" onclick='increment("{{dish.id}}")' value="+">
                </div>
                <p><small>total</small></p> -->
                <p class="card-text">{{dish.description}}</p>
                <br/>
                <hr>
                <span class="price">NT$ {{dish.price}}</span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<!-- the Quantity part ;( ,Can't figure out  -->
<!-- <script>
  function increment(x) {
    plusid = document.getElementById('demoInput'+ x)
    plusid.value<10 ? (plusid.value++) : plusid.value =10

  }
  function decrement(x) {
    minusid = document.getElementById('demoInput'+ x)
    minusid.value>0 ? (plusid.value--) : plusid.value =0 
  }
</script> -->


{% endblock %}