{% extends 'accounts/main.html'%}
  {% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/menu.css'%}">
  <h1>Menu</h1>  
  <h2 class="mt-5">Starters</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    
    {% for dish in object_list %}
      {% if dish.tag == "Starter" %}
          <div class="col">
            <div class="card">
              <img src="{{dish.imageURL}}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{dish.name}}</h5>
                <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
                <a data-dish={{dish.id}} data-action="add" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
                <a href="{% url 'add_to_cart' dish.id %}">
                  <div class="overlay">
                    <h5 class="ct">{{dish.name}}</h5>
                    <p class="card-text">{{dish.description}}</p>
                    <br/>
                    <hr>
                    <span class="price">NT$ {{dish.price}}</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="mt-5">Pizza</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4">

    {% for dish in object_list %}
      {% if dish.tag == "Pizza" %}
        <div class="col">
          <div class="card" href=>
            <img src="{{dish.imageURL}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{dish.name}}</h5>
              <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
              <a data-dish={{dish.id}} data-action="add" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
              <a href="{% url 'add_to_cart' dish.id %}">
                <div class="overlay">
                  <h5 class="ct">{{dish.name}}</h5>
                  <p class="card-text">{{dish.description}}</p>
                  <br/>
                  <hr>
                  <span class="price">NT$ {{dish.price}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="mt-5">Pasta</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for dish in object_list %}
      {% if dish.tag == "Pasta" %}
        <div class="col">
          <div class="card">
            <img src="{{dish.imageURL}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{dish.name}}</h5>
              <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
              <a data-dish={{dish.id}} data-action="add" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
              <div class="overlay">
                <h5 class="ct">{{dish.name}}</h5>
                <p class="card-text">{{dish.description}}</p>
                <br/>
                <hr>
                <span class="price">NT$ {{dish.price}}</span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="mt-5">Risotto</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for dish in object_list %}
      {% if dish.tag == "Risotto" %}
        <div class="col">
          <div class="card">
            <img src="{{dish.imageURL}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{dish.name}}</h5>
              <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
              <a data-dish={{dish.id}} data-action="add" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
              <a href="{% url 'add_to_cart' dish.id %}">
                <div class="overlay">
                  <h5 class="ct">{{dish.name}}</h5>
                  <p class="card-text">{{dish.description}}</p>
                  <br/>
                  <hr>
                  <span class="price">NT$ {{dish.price}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="mt-5">Others</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-4 g-4  mb-5">
    {% for dish in object_list %}
      {% if dish.tag == "Others" %}
        <div class="col">
          <div class="card">
            <img src="{{dish.imageURL}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{dish.name}}</h5>
              <p class="card-text">{{dish.description|slice:":80"| safe}}</p>
              <a data-dish={{dish.id}} data-action="add" class="AddToCart update-cart" ><span>ADD TO CART</span></a>
              <a href="{% url 'add_to_cart' dish.id %}">
                <div class="overlay">
                  <h5 class="ct">{{dish.name}}</h5>
                  <p class="card-text">{{dish.description}}</p>
                  <br/>
                  <hr>
                  <span class="price">NT$ {{dish.price}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
<script>

  if (user == 'AnonymousUser'){
    Array.from(document.getElementsByClassName('update-cart')).forEach(function(element) {
      element.href="{% url 'login'%}"
      });
    }
</script>



{% endblock %}