{% extends 'accounts/main.html'%}
  {% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static '/css/login.css'%}">
  <style>
    h1{
      left: 49%;
      transform: translate(-90px, -15px);
    }
    .login-card{
      height: inherit;
      width: 450px;
      padding: 35px 50px 70px 50px;
    }
    .btn-outline-info:hover{
      letter-spacing: 1px;
    }
    small.errors{
      font-size: 14px;
    }
    ul.errorlist {
      list-style: initial;
    }
  </style>

    <div class="circle1">
      <svg viewBox="45 35 190 200" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient id="gradient1" gradientTransform="skewX(10)">
            <stop offset="15%" stop-color="#6bff8a" />
            <stop offset="85%" stop-color="#70fcde" />
          </linearGradient>
        </defs>
        <path fill="url(#gradient1)" d="M51.5,-62.9C67,-59.6,80,-44.9,79.3,-29.8C78.5,-14.8,64,0.7,55.2,14.9C46.5,29.2,43.4,42.3,35.1,51.2C26.8,60,13.4,64.6,2.3,61.5C-8.8,58.3,-17.7,47.4,-27.7,39.1C-37.8,30.9,-49.1,25.3,-51.7,16.9C-54.2,8.6,-47.9,-2.5,-43.9,-14.1C-39.9,-25.7,-38.1,-37.8,-31.2,-43.9C-24.2,-50,-12.1,-49.9,2.9,-53.9C18,-58,36,-66.1,51.5,-62.9Z" transform="translate(100 100)" />
      </svg>
    </div>

    <h1>Sign Up</h1>
    <div class="login-container">
      <div class="login-card">
        <form method="POST" action="">
          {% csrf_token %}

          <div class="inputBox">
            <label >Email</label>
            <div class="formcontrol">{{ form.email }}</div>
            <small class="form-text text-muted ">※ We'll never share your email with anyone else.</small>
          </div>

          <div class="inputBox">
            <label >Username</label>
            <div class="formcontrol">{{ form.username }}</div>
          </div>
          
          <div class="inputBox">
            <label >Password</label>
            <div class="formcontrol">{{ form.password1 }}</div>
          </div>

          <div class="inputBox">
            <label >Password Confirmation</label>
            <div class="formcontrol">{{ form.password2 }}</div>
          </div>
          <br/>

          <input class="btn btn-outline-info mb-4" type="submit" name="" value="Register Account"/>
      
          <div class="text-muted signup">
            Already have an account ? <a href="{% url 'login' %}"> Login</a>
          </div>
          <small class="errors" style="color:#ff0071;">{{form.errors}}</small>
        </form>
      </div>
    </div>

  {% endblock %}